p {
    text-align: left;
    margin: 10px 216px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(53, 34, 8, 0.8);
}
input[type="text"] {
    background-color: rgba(177, 112, 34, .8);
    color:rgb(36, 30, 25, .8);
    width: 30%;
    margin: 15px 120px auto;
    border-top: 2px solid #245467;
    border-right: 3px solid #0f3646;
    border-bottom: 1px solid #4e95b1;
    border-left: 1px solid #4e95b1;
    border-radius: 12px;
    justify-content: center;
}
input[type="submit"] {
    background-color: rgba(71, 46, 14, 0.8);
    color: rgb(36, 30, 25, .8);
    width: 20%;
    margin: 40px 190px auto;
    border-top: 2px solid #010b0f;
    border-right: 3px solid #010b0f;
    border-bottom: 1px solid #010b0f;
    border-left: #010b0f;
    border-radius: 25px;
    justify-content: center;
}